@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.content-preference-section .title{
  font-size: 1.2rem;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cup:hover{
  cursor: pointer;
}

.overflowY{
  overflow-y: auto;
}

.overflowX{
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #65a3ff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b91fa; 
}

:root{
  --nav-height:10vh;
  --main-body-height:90vh;
  --breadcrumps-height:7.5vh;
  --nav-bg-color:white;
  --body-bg-color:#65a3ff35;
}


.nav-height{
  height: var(--nav-height);
  background-color: var(--nav-bg-color);
}

.admin-page-content-height{
  height: calc(100vh - var(--nav-height));
}

.content-body-height{
  height: var(--main-body-height);
  background-color: var(--body-bg-color);
}

.content-breadcrumps-height{
  height:var(--breadcrumps-height);
}

/* Homepage login */

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  bottom: 0.26rem;
  right: 1rem;
  cursor: pointer;
}

.content-breadcrumps-below-content-height{
  height:calc(var(--main-body-height) - var(--breadcrumps-height));
}

.card-title{
  font-size: .9rem;
}

.card-text{
  font-size: .75rem;
  color: gray;
}

.category-card-title{
  color:rgb(89, 21, 116);
  font-size: 1.5rem;
}

.category-card-height{
  height: 90% !important;
}

.icon-absolute{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}
.chain-card{
  background-color: rgba(218, 21, 116, 0.073) !important;
  border-color: rgba(218, 21, 116, 0.073) !important;
}
.chain-abs{
  background-color: rgb(218, 21, 116);
}

.ring-card{
  background-color: rgba(231, 150, 36, 0.073) !important;
  border-color: rgb(231, 150, 36, 0.073) !important;
}
.ring-abs{
  background-color: rgb(231, 150, 36);
}

.bracelets-card{
  background-color: rgb(15, 204, 68, 0.073) !important;
  border-color: rgb(15, 204, 68, 0.073)!important;
}
.bracelets-abs{
  background-color: rgb(15, 204, 68);
}

.earring-card{
  background-color: rgb(129, 38, 182, 0.073) !important;
  border-color: rgb(129, 38, 182, 0.073) !important;
}
.earring-abs{
  background-color: rgb(129, 38, 182);
}
.link-fontWeight{
  font-weight: 500;
}

.fesibility-fontSize{
  font-size: .8rem;
}
.imagePlaceholder{
  padding: 5.5rem 0;
}

.navLogo{
  width: 9rem;
  height: 4rem; 
}

.form-control:focus,.form-select:focus {
  outline: 0;
  box-shadow: none !important;
}

.slick-arrow.slick-prev,.slick-arrow.slick-next{
  display: none !important;
}
.btn-primary{
  background-color: #65a3ff !important;
  border:none !important;
}

.tooltipWidth{
  width: 22rem !important;
}

.edit-btn{
  position: absolute;
  top: -.1rem;
  right: 0;
}
.criteria-edit-btn{
  position: absolute;
  top: .5rem;
  right: 1.5rem;
}

.infoToast{
  color: #65a3ff;
  font-size: 4rem;
}


/* Custom styles for accordion */
.hideScollbar::-webkit-scrollbar {
  width: 0;
}

.accordion-button{
  font-size: .8rem !important;
}

.accordion{
  --bs-accordion-btn-icon-transform: rotate(0deg) !important;
}

.accordion-button::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-folder-plus' viewBox='0 0 16 16'><path d='m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z'/><path d='M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5'/></svg>") !important;
}

.accordion-button:not(.collapsed)::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-folder-minus' viewBox='0 0 16 16'><path d='m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z'/><path d='M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5'/></svg>") !important;
}

.accordion-button:not(.collapsed) { 
  background-color: rgba(245, 245, 245, 0.611) !important;
  box-shadow: inset 0 calc(-1* rgba(245, 245, 245, 0.611)) 0 rgba(245, 245, 245, 0.611) !important;
}

.accordion-button:focus {
  box-shadow: transparent !important;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 1rem;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 0 !important;
  height: 0 !important;
  margin-right: 1rem;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button.accordion-button-one::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-folder-plus' viewBox='0 0 16 16'><path d='m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z'/><path d='M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5'/></svg>") !important;
}

.accordion-button.accordion-button-one:not(.collapsed)::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-folder-minus' viewBox='0 0 16 16'><path d='m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z'/><path d='M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5'/></svg>") !important;
}

.accordion-button.accordion-button-one:not(.collapsed) {
  background-color: transparent !important;
  border: none !important;
}

.accordion-button.accordion-button-one {
  background-color: transparent !important;
  border: none !important;
}

.accordion-button-one{
  background-color: rgba(10, 4, 32, 0.84) !important;
  color: white !important;
  font-size: .9rem !important;
}

.accordion-item>.accordion-header .accordion-button {
  border-radius: 6px !important;
}

.accordion-item {
  background-color: #f8f9fa; /* Background color for accordion item */
  margin-bottom: 10px; /* Margin between accordion items */
  border: 1px solid #dee2e6; /* Border color for accordion items */
  border-radius: 5px; /* Rounded corners for accordion items */
}

.accordion-button {
  background-color: #ffffff; /* Background color for accordion header */
  color: #212529; /* Text color for accordion header */
  border: 1px solid #ced4da; /* Border color for accordion header */
  border-radius: 5px; /* Rounded corners for accordion header */
  padding: 10px 20px; /* Padding inside accordion header button */
}

.accordion-button:hover {
  background-color: #f0f0f0; /* Hover background color for accordion header */
}

.accordion-body {
  padding: 10px 20px; /* Padding inside accordion content */
  border-top: 1px solid #dee2e6; /* Border color above accordion content */
}
